.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button {
  background-color: #EF9B2D;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  font-family: "Open Sans";
  font-size: 20px;
  align-self: center; 
}
